version: '3.9'
services:
  backend:
    image: $IMAGE_NAME
    container_name: backend
    expose:
     - "8080"
    networks:
     - backend-network
  nginx:
    image: nginx:latest
    container_name: nginx_container
    ports:
      - "443:443"
    volumes:
      - /home/ubuntu/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - /home/ubuntu/nginx/ssl:/etc/nginx/ssl
    depends_on:
      - backend
    networks:
      - backend-network
networks:
 backend-network:
