{
    "swagger": "2.0",
    "info": {
        "description": "GetMentor API docs",
        "title": "GetMentor API",
        "contact": {
            "name": "API Support",
            "url": "http://www.swagger.io/support"
        },
        "version": "1.0"
    },
    "host": "prod-team-14-mkg8u20m.final.prodcontest.ru",
    "basePath": "/",
    "paths": {
        "/api/group": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Groups"
                ],
                "parameters": [
                    {
                        "description": "body",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/groupsRoute.reqCreateGroupDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/groupsRoute.respCreateGroup"
                        }
                    }
                }
            }
        },
        "/api/groups/{groupID}/admin/inviteCode": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Groups"
                ],
                "summary": "Обновить код приглашения",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Group ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/groupsRoute.respUpdateCode"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpError.HTTPError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/httpError.HTTPError"
                        }
                    }
                }
            }
        },
        "/api/groups/{groupID}/admin/members": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Groups"
                ],
                "summary": "Список участников группы",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/groupsRoute.resGetMember"
                            }
                        }
                    }
                }
            }
        },
        "/api/groups/{groupID}/admin/members/{memberID}/role": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Groups"
                ],
                "summary": "Обновить роль юзера",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/mentors/requests": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Mentors"
                ],
                "summary": "Получить входящие запросы",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/mentorsRoute.respGetRequest"
                            }
                        }
                    }
                }
            },
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Mentors"
                ],
                "summary": "Изменить состояние заявки",
                "parameters": [
                    {
                        "description": "body",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/mentorsRoute.reqUpdateRequest"
                        }
                    }
                ],
                "responses": {}
            }
        },
        "/api/mentors/students": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Mentors"
                ],
                "summary": "Получить моих учеников",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/mentorsRoute.respGetMyStudent"
                            }
                        }
                    }
                }
            }
        },
        "/api/user/auth/sign-in": {
            "post": {
                "description": "Аунтефикация юзера. Возвращает токен, который в дальнейшем нужно передавать в заголовке \"Authorization\" в формате \"Bearer \u003cтокен\u003e\". Кусок \"Bearer \" нужно добавлять самому. Это фиксированное слово, которое ставят перед токеном зачем-то.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "Аунтефикация",
                "parameters": [
                    {
                        "description": "body",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/usersRoute.reqLoginDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/usersRoute.respLoginDto"
                        }
                    },
                    "400": {
                        "description": "Ошибка валидации",
                        "schema": {
                            "$ref": "#/definitions/httpError.HTTPError"
                        }
                    },
                    "401": {
                        "description": "Неверный email или пароль",
                        "schema": {
                            "$ref": "#/definitions/httpError.HTTPError"
                        }
                    }
                }
            }
        },
        "/api/user/avaliableMentors": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "Получение доступных всех",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/usersRoute.respGetMentor"
                            }
                        }
                    }
                }
            }
        },
        "/api/user/mentors": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "Получение моих менторов",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/usersRoute.respGetMyMentor"
                            }
                        }
                    }
                }
            }
        },
        "/api/user/profile": {
            "get": {
                "description": "Авторизация юзера",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "Получить инфу о себе",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/usersRoute.resGetProfile"
                        }
                    },
                    "400": {
                        "description": "Ошибка валидации",
                        "schema": {
                            "$ref": "#/definitions/httpError.HTTPError"
                        }
                    }
                }
            }
        },
        "/api/user/requests": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "Получить список моих запросов",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/usersRoute.respGetHelp"
                            }
                        }
                    }
                }
            },
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "Кинуть запрос ментору",
                "parameters": [
                    {
                        "description": "body",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/usersRoute.reqCreateHelp"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/user/uploadAvatar": {
            "post": {
                "description": "Загрузка аватарки. Возвращает ссылку на аватарку, которая действует 7 дней",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "загрузка аватарки",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/usersRoute.respUploadAvatarDto"
                        }
                    },
                    "400": {
                        "description": "Ошибка валидации",
                        "schema": {
                            "$ref": "#/definitions/httpError.HTTPError"
                        }
                    }
                }
            }
        },
        "/groups/join/{code}": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Groups"
                ],
                "summary": "Обновить роль юзера",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/groups/{GroupID}/stat": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Groups"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "description": "Group ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/groupsRoute.respStat"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/httpError.HTTPError"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "groupsRoute.reqCreateGroupDto": {
            "type": "object",
            "required": [
                "name"
            ],
            "properties": {
                "name": {
                    "type": "string",
                    "maxLength": 100,
                    "minLength": 1
                }
            }
        },
        "groupsRoute.resGetMember": {
            "type": "object",
            "properties": {
                "avatar_url": {
                    "type": "string"
                },
                "bio": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "roles": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "groupsRoute.respCreateGroup": {
            "type": "object",
            "properties": {
                "group_id": {
                    "type": "string"
                }
            }
        },
        "groupsRoute.respStat": {
            "type": "object",
            "properties": {
                "accepted_request_count": {
                    "type": "integer"
                },
                "conversion": {
                    "type": "number"
                },
                "help_request_count": {
                    "type": "integer"
                },
                "mentors_count": {
                    "type": "integer"
                },
                "rejected_request_count": {
                    "type": "integer"
                },
                "students_count": {
                    "type": "integer"
                },
                "total_count": {
                    "type": "integer"
                }
            }
        },
        "groupsRoute.respUpdateCode": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string"
                }
            }
        },
        "httpError.HTTPError": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                }
            }
        },
        "mentorsRoute.reqUpdateRequest": {
            "type": "object",
            "required": [
                "id",
                "status"
            ],
            "properties": {
                "id": {
                    "type": "string"
                },
                "status": {
                    "type": "boolean"
                }
            }
        },
        "mentorsRoute.respGetMyStudent": {
            "type": "object",
            "required": [
                "name",
                "student_id"
            ],
            "properties": {
                "avatar_url": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "student_id": {
                    "type": "string"
                }
            }
        },
        "mentorsRoute.respGetRequest": {
            "type": "object",
            "properties": {
                "avatar_url": {
                    "type": "string"
                },
                "goal": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "user_id": {
                    "type": "string"
                }
            }
        },
        "usersRoute.Pair": {
            "type": "object",
            "properties": {
                "group_id": {
                    "type": "string"
                },
                "mentor_id": {
                    "type": "string"
                }
            }
        },
        "usersRoute.reqCreateHelp": {
            "type": "object",
            "required": [
                "goal",
                "requests"
            ],
            "properties": {
                "goal": {
                    "type": "string"
                },
                "requests": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/usersRoute.Pair"
                    }
                }
            }
        },
        "usersRoute.reqLoginDto": {
            "type": "object",
            "required": [
                "name"
            ],
            "properties": {
                "name": {
                    "type": "string"
                }
            }
        },
        "usersRoute.resGetProfile": {
            "type": "object",
            "properties": {
                "avatar_url": {
                    "type": "string"
                },
                "bio": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "usersRoute.respGetHelp": {
            "type": "object",
            "properties": {
                "avatar_url": {
                    "type": "string"
                },
                "goal": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "mentor_id": {
                    "type": "string"
                },
                "mentor_name": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "usersRoute.respGetMentor": {
            "type": "object",
            "required": [
                "group_id",
                "mentor_id",
                "name"
            ],
            "properties": {
                "avatar_url": {
                    "type": "string"
                },
                "bio": {
                    "type": "string"
                },
                "group_id": {
                    "type": "string"
                },
                "mentor_id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "usersRoute.respGetMyMentor": {
            "type": "object",
            "required": [
                "mentor_id",
                "name"
            ],
            "properties": {
                "avatar_url": {
                    "type": "string"
                },
                "mentor_id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "usersRoute.respLoginDto": {
            "type": "object",
            "properties": {
                "token": {
                    "type": "string"
                }
            }
        },
        "usersRoute.respUploadAvatarDto": {
            "type": "object",
            "properties": {
                "url": {
                    "type": "string"
                }
            }
        }
    },
    "securityDefinitions": {
        "ApiKeyAuth": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    }
}